*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}

.header {
  padding-top: 2vw;
  text-align: center;
  font-size:2vw;
  height:8vw;
  width:100vw;
}

.dice_total {
  font-size:5vw;
}

.btn1 {
  background-color: #FFFFFF;
  border:solid;
  text-align: center;
  font-size:3vw;
  height:6vw;
  width:50vw;
  margin-top: 1vw;
  margin-bottom: 5vw;
}

.btn2,.btn3 {
  border:solid;
  height:12vw;
  width:24vw
}
.btn3 {margin-left: 1vw;}

.footer {
text-align: center;
font-size:1vw;
margin-top:5vw;
height:8vw;
width:100vw;
}
